<%= form_for @review_new, url: product_reviews_path(@product), id: 'review_form', html: { method: :post}, :remote=>true do |f| %> 
  <%= render 'spree/shared/error_messages', target: @review_new.rating %>
  <div id="review_messages"></div>
  <div class="contacts-form">
    <div class="form-group">
      <%= f.hidden_field :rating, value: '',id: 'user_raiting' %>
      <%= render 'spree/reviews/new_stars'%>
    </div>
    <div class="form-group"> <span class="icon icon-user"></span>
      <%= f.label :name %>
      <%= f.text_field :name, maxlength: 255, size: 50, require: true ,class: 'form-control',id: 'user_name' %>
    </div>
    <div class="form-group"> <span class="icon icon-bubbles-2"></span>
      <%= f.label :review %>
      <%= f.text_area :review, wrap: 'virtual', rows: 10, cols: 50, require: true ,class: 'form-control',id: 'user_review' %>
    </div>
    <div class="form-group">
     <% if Spree::Reviews::Config[:show_identifier] %>
        <div class="checkbox">
          <%= f.label :show_identifier do %>
            <%= f.check_box :show_identifier, checked: true %>
            <%= Spree::Review.human_attribute_name(:show_identifier) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="buttons clearfix">
      <%= f.submit Spree.t(:submit_your_review), class: 'review_form_submit btn buttonGray' %>
    </div>
  </div>
<% end %>