<span class="fa fa-star rating-start" id="star1" title='<%= Spree.t('pages.common.poor')%>' data-rating = '1'></span>
<span class="fa fa-star rating-start" id="star2" title='<%= Spree.t('pages.common.fair')%>' data-rating = '2' ></span>
<span class="fa fa-star rating-start" id="star3" title='<%= Spree.t('pages.common.good')%>' data-rating = '3' ></span>
<span class="fa fa-star rating-start" id="star4" title='<%= Spree.t('pages.common.excellent')%>' data-rating = '4' ></span>
<span class="fa fa-star rating-start" id="star5" title='<%= Spree.t('pages.common.wow')%>!!!' data-rating = '5'></span>