<div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
  <div id="review">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td style="width: 50%;">
            <% if review.show_identifier %>
              <% if Spree::Reviews::Config[:show_email] && review.user %>
                <span itemprop="name"><%= review.user.email %></span>
              <% else %>
                <span itemprop="name"><%= review.name %></span>
              <% end %>
            <% else %>
              <span itemprop="name"><%= Spree.t(:anonymous) %></span>
            <% end %>
          </td>
          <td class="text-right">
            <span class="attribution">
              <%= review.created_at.strftime('%d/%m/%Y') %>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p itemprop="reviewBody"><%= review.review %></p>
            <div class="ratings">
              <div class="rating-box">
                <span itemprop="reviewRating" class="reviews-rating" title="<%= txt_stars(review.rating) %>">
                  <%= render 'spree/reviews/stars', stars: review.rating %>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right"></div>
  </div>
</div>
