<% for review in (Spree::Reviews::Config[:track_locale] ? @product.reviews.localized(I18n.locale) : @product.reviews).default_approval_filter.preview %>
  <div id="review">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td style="width: 50%;"><strong><%= review.name%></strong></td>
          <td class="text-right"><span class="attribution"><%= Spree.t('Date:') %>
      <strong><%= review.created_at.to_date %></strong>
    </span></td>
        </tr>
        <tr>
          <td colspan="2">
            <p><%= review.review %></p>
            <div class="ratings">
              <div class="rating-box">
                <span class="reviews-rating" title="<%= txt_stars(review.rating) %>">
                  <%= render 'spree/reviews/stars', stars: review.rating %>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right"></div>
  </div>
<% end %>
<%#= link_to Spree.t(:write_your_own_review), new_product_review_path(@product), class: 'btn btn-default', rel: 'nofollow' %>
<h2 id="review-title">Write a review</h2>
<%= render 'spree/reviews/form', locals: {product: @product } %>